@import url('https://fonts.googleapis.com/css2? family = Dancing + Script & family = Roboto: wght @ 100 & display = swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color:#ebebeb;
}


.main-header {
    background-color: #EAC926;
    padding: 15px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
  
}


.logo-busqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    box-sizing: border-box;
    align-items: center;   
}
img {
    border-style: none;
    width:90%;
    align-self: center;
}
.busqueda {
    padding: 10px;
    display: inline-block;
    flex-wrap: wrap;
    width:auto;
    align-self: center;
    justify-content: stretch;
    margin: auto;
}


#main-section {
    width: 100%;
    margin:auto;
}

.banner img{
    width: 100%;
}


.products-container h3 {
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0%;
    }

li {
    margin: 0px 10px;
    
}
    
li a{
    text-decoration: none;
    color: black;
}



.text-footer {
    font-size: 12px;
}

.content-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.content-footer-section {
    width: 200px;
    margin: 0px 10px;
}
.navegacion {
    display: flex;
    flex-wrap: wrap;    
   justify-content: space-around;
}



.c-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}





.datos {
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
}


.iconosPie {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}


.truck {
    
    color: green;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.datos:hover .truck {
    transform: rotate(-90deg);
    transition: 0.5s;
}

footer {
    text-align: center;
}

.precio-descuento-truck {
    display: flex;
    border-top: #ebebeb solid 1px;
    padding: 15px;
    margin: 10px;
    flex-direction: column;
    position: relative;
    width: 100%;
}



.precio-descuento {
    display:flex;
    align-items: center;
    gap: 10px;
}


.price {
    font-size: 28px;
}

.discount {
    color: green;
    font-style: bold;
}

.c-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    
}

.button {
    margin:15px;
    justify-content: stretch;
    width: 90%;
}

.button :hover {
    background-color: #0022AA;
    color: white;
}

.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.c-button-login {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;   
}

.button-login {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: stretch;
    background-color: #0022AA;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

#usuario {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0px;
    margin: auto;
    text-align: center;
    justify-content: stretch;
    border-radius: 5px;
}

#password {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 640px) {
    .menu-list {
        display: none
    }
    .descripcion {
        display: none
    }

    .datos:hover {
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 5);

    }
    .datos:hover .descripcion {
        display: block;
    }
    
    
   
}

@media (min-width: 362px) {
    .datos {
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 5);
    }
}
 
@media (min-width: 640px) {
    .burger-menu {
        display: none;
    }

}
 
@media (max-width: 640px) {
        .burger-menu {
            background-color: blue;
            color: white;
            font-size: 20px;
            width: 30px;
            height: 30px;
            margin: auto;
            text-align: center;
            padding: 2px;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .lupa {
            position: relative;
            right: 35px;
        }

}


